<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <title>Eagle Eye</title>
  </head>

  <body id="mainArticleLayout">
    
    <header>
      <nav class="navbar navbar-dark container-md">
        <a class="navbar-brand" href="index.html">
          <svg class="bi bi-arrow-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 010 .708L3.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M2.5 8a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
          </svg>
        </a>
        <section class="my-2 my-lg-0 user-image">
          <a href="#"><img src="images/user.png" alt="user profile"></a>
        </section>
      </nav>
      <section class="breadcrumbs container-md">
        <h2>My Trips</h2>
        <h1>Sde Boker</h1>
      </section>
    </header>

    <main>
      <div class="container-md" id="wrapper">
        <section>
            <div class="btn-group btn-group-lg d-flex" role="group">
              <a class="btn btn-light" href="navigate.html">Start now</a>
              <a class="btn btn-light" href="edit.html">Edit</a>
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Delete</a>
              </div>
            </div>
        </section>
        <section>
          <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active" href="#description">Description</a>
            <a class="nav-item nav-link" href="#details">Details</a>
            <a class="nav-item nav-link" href="#itinerary">Itinerary</a>
          </nav>
          <section id="articleData">
            <section id="description">
                <h3>
                  Description
                </h3>
                <span>
                  The kibbutz of Sde Boker is famous as the home of David Ben Gurion, Israel's first Prime 
                  Minister whose home is now a museum open to the public, and is the feature of a number of 
                  supporting exhibits in the kibbutz. Sde Boker is located in the center of the Negev Desert 
                  in southern Israel, a community founded in 1952 by a number of pioneering families who were 
                  later joined by Ben Gurion after an interesting encounter. Today, visitors from around the 
                  world visit to learn about the life of Israel's iconic leader.
                </span>
                <span class="expand">see more</span>
                <span class="expand">see less</span>
            </section>
            <section id="details">
              <h3>
                Details
              </h3>
              <section class="row">
                <section class="col-md-6">
                  <h5>
                    School
                  </h5>
                  <span>
                    Eagle High School
                  </span>
                </section>
                <section class="col-md-6">
                  <h5>
                    Kids
                  </h5>
                  <span>
                    49 kids
                  </span>
                </section>
                <section class="col-md-6">
                  <h5>
                    Guides
                  </h5>
                  <span>
                    3 guides
                  </span>
                </section>
                <section class="col-md-6">
                  <h5>
                    Accessibility
                  </h5>
                  <span>
                    Very Accessible
                  </span>
                </section>
                <section class="col-md-6">
                  <h5>
                    Route Includes
                  </h5>
                  <ul class="includes">
                    <li>Animal Zones</li>
                    <li>Water Experiences</li>
                    <li>Panoramic Views</li>
                  </ul>
                </section>
                <section class="col-md-6">
                  <h5>
                    Route Doesn't Includes
                  </h5>
                  <ul class="not-include">
                    <li>Cell service Everywhere</li>
                    <li>Climbing Areas</li>
                  </ul>
                </section>
              </section>
            </section>
            <section id="itinerary">
              <h3>Itinerary</h3>
              <section>
                <div class="accordion" id="accordionExample">
                  <div class="card border-light mb-3">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          08:00 - 10:00 - Masada
                        </button>
                      </h2>
                    </div>
                
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        Masada is extremely high, and can be ascended on foot by the winding "snake path" or by a cable car 
                        that runs from the tourist center at the foot of the mountain to the top. The tourist center also 
                        features a movie about the story of Masada, a model of the site, and an exhibit of the archeological 
                        findings.
                      </div>
                    </div>
                  </div>
                  <div class="card border-light mb-3">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          11:00 - 14:00 - Ein Gedi
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        Ein Gedi, just aside the Dead Sea in the Judean Desert, not too far from Jerusalem, is one of 
                        Israel's premier hiking spots, featuring spectacular beauty, varied landscapes, and botanical 
                        gardens. There's no doubt that Ein Gedi Nature Reserve is one of the most beautiful places in 
                        Israel. While it is located close to Jerusalem, it feels worlds away, Ein Gedi is, of course, 
                        one of the most popular escape spots for locals and tourists who take advantage of the reserve, 
                        botanical gardens, and the Dead Sea.
                      </div>
                    </div>
                  </div>
                  <div class="card border-light mb-3">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          16:00 - 19:00 Dead Sea
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        The Dead Sea, known in Hebrew as Yam Ha-Melakh (the Sea of Salt) is the lowest point on earth, 
                        surrounded by the stunning landscape of the Negev Desert. The shores of the Dead Sea are the 
                        lowest point on the surface of the earth, and the saline water of the lake give lead to the 
                        name because no fish can survive in the salty waters. The other result of the salty water is 
                        their renowned health and healing properties and the unique feature that one can 
                        float naturally in them.                      
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="scripts/script.js"></script>
    <script>
      (initArticle());
    </script>
  </body>
</html>