{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Eagle Eye</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/favicon/favicon-96x96.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon/favicon-16x16.png" %}">
        {% csrf_token %}
    </head>
    <body id="navigationLayout">
        <div id="toast-container" aria-live="polite" aria-atomic="true">
        </div>
        <header class="container-lg">
            <section class="hamburger-container"><i class="fa fa-bars"></i></section>
        </header>
        <main>

            <aside>
                <section class="rounded-circle" style="background-image: url({{ user.picture.url }})">
                </section>
                <section>
                    <ul>
                        <li><a href="#warningContainer" data-toggle="modal" data-target="#warningContainer"><i class="fa fa-exclamation-triangle"></i>Warnings</a> <span class="badge badge-danger badge-warnings">0</span></li>
                        {% if drone_videos|length > 0 %}<li><a href="#bannerformmodalDrone" data-toggle="modal" data-target="#bannerformmodalDrone"><i class="fa fa-satellite-dish"></i>Live Feed</a></li>{% endif %}
                    </ul>
                </section>
                
            </aside>
            <section id="map">
            </section>           
        </main>
        
        <footer>
            <section class="container-md">
                <section class="col-md-6 rounded-pill"  id="indicator">
                    <section class="row">
                        <section class="col-2 d-flex align-self-center flex-column">
                            <section><i class="far fa-arrow-alt-circle-up"></i></section>
                        </section>
                        <section class="col-4 d-flex align-self-center flex-column">
                            <span>02:15</span> 
                            <span>Aprox time</span> 
                        </section>
                        <section class="col-4 d-flex align-self-center flex-column">
                            <span>10.9 KM</span> 
                            <span>Distance</span> 
                        </section>
                        <section class="col-2">
                            <a href="{% url 'trip' execution.trip.id %}" class="btn btn-danger btn-block">STOP</a>
                        </section>
                    </section>
                </section>
            </section>
        </footer> 
        <!-- Warning Modal -->
        <div class="modal fade warningContainer" tabindex="-1" role="dialog" aria-labelledby="warningContainer" aria-hidden="true" id="warningContainer">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Warnings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <div class="row">
                    <div class="col-4">
                      <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active list-group-item-danger" id="list-high-list" data-toggle="list" href="#list-high" role="tab" aria-controls="high">High Alert</a>
                          <a class="list-group-item list-group-item-action list-group-item-warning" id="list-medium-list" data-toggle="list" href="#list-medium" role="tab" aria-controls="messages">Medium Alert</a>
                          <a class="list-group-item list-group-item-action list-group-item-info" id="list-low-list" data-toggle="list" href="#list-low" role="tab" aria-controls="low">Low Alert</a>
                        <!-- <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a> -->
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="tab-content" id="nav-tabContent">


                        <div class="tab-pane fade show active" id="list-high" role="tabpanel" aria-labelledby="list-high-list">
                          <ul class="list-group">
                                <span>There are no high priority alerts</span>

                          </ul>
                        </div>
                        <div class="tab-pane fade" id="list-medium" role="tabpanel" aria-labelledby="list-medium-list">
                          <ul class="list-group">
                              <span>There are no medium priority alerts</span>
                          </ul>
                        </div>
                        <div class="tab-pane fade" id="list-low" role="tabpanel" aria-labelledby="list-low-list">
                          <ul class="list-group">
                              <span>There are no low priority alerts</span>

                          </ul>
                        </div>


                        <!-- <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div> -->
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>
        <!-- Modal -->
        <div class="modal fade  bannerformmodalDrone" tabindex="-1" role="dialog" aria-labelledby="bannerformmodalDrone" aria-hidden="true" id="bannerformmodalDrone">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Live Feed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="row">
                  <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% for video in drone_videos %}
                            <a class="list-group-item list-group-item-action {% if forloop.counter == 1 %}active{% endif %} list-group-item-primary" id="list-{{ forloop.counter }}-list" data-toggle="list" href="#list-{{ forloop.counter }}" role="tab" aria-controls="{{ forloop.counter }}">Drone {{ forloop.counter }}</a>
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">

                        {% for video in drone_videos %}
                          <div class="tab-pane fade show {% if forloop.counter == 1 %}active{% endif %}" id="list-{{ forloop.counter }}" role="tabpanel" aria-labelledby="list-{{ forloop.counter }}-list">
                            <video width="320" height="240" autoplay loop muted>
                              <source src="{{video.url}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                          </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <script>
            var destinations = {{ destinations  |safe }};
            var drones = {{ drones |safe}};
            var user_role = '{{ user_role }}';
            var user_type = '{{ user_type }}';
        </script>
        <script src="{% static 'scripts/script.js' %}"></script>
        <script>
            (initNavigator({{ execution.id }}));
        </script>
    </body>
</html>